{% extends "base.html" %}

{% block header %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Todo List</h1>
      <p class="lead">Improve your daily productivity and enrich your life.</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'create' %}" class="btn btn-secondary mb-3" role="button" aria-disabled="true">New</a>
    {% for item in object_list %}
    <div class="alert alert-{{ item.priority }}" role="alert">
        <p>{{ item.title }}&nbsp;&nbsp;  Due:{{ item.duedate | date:"F d Y" }}</p>
        <a href="{% url 'update' item.pk %}" class="btn btn-primary" role="button" aria-disabled="true">Edit</a>
        <a href="{% url 'delete' item.pk %}" class="btn btn-danger" role="button" aria-disabled="true">Delete</a>
        <a href="{% url 'detail' item.pk %}" class="btn btn-dark" role="button" aria-disabled="true">Detail</a>
    </div>
    {% endfor %}
</div>
{% endblock content%}